---
import { getCollection } from "astro:content";

import { Article } from "../../components/Article";
import Layout from "../../layouts/BaseLayout.astro";
import { zennMarkDownToHtml } from "../../utils/markdownToHtml";

export async function getStaticPaths() {
  const articleEntries = await getCollection("article");

  return articleEntries.map((entry) => {
    return {
      params: {
        slug: entry.slug,
      },
      props: {
        title: entry.data.title,
        tags: entry.data.tags,
        html: zennMarkDownToHtml(entry.body),
      },
    };
  });
}

const { html, title, tags } = Astro.props;
---

<Layout title="briete">
  <main>
    <h1>{title}</h1>
    <div>
      {tags.map((tag: string) => (<i>{tag}</i>))}
    </div>
    <Article html={html} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70ch;
  }

  div {
    margin: 16px auto 16px;
    font-size: 1.2rem;
  }

  i:not(:first-child) {
    margin-left: 8px;
  }

  h1 {
      font-size: 2rem;
      font-weight: 800;
      margin: 0;
  }
</style>
