---
import Layout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection('article');
---

<Layout title="briete:articles">
    <main>
        <h1>Articles</h1>
        <ul>
            {articles.map(article => (
              <li>
                <a href={`/articles/${article.slug}`}>{article.data.title}</a>
                <time datetime={article.data.createdAt.toISOString()}>
                  {article.data.createdAt.toLocaleDateString("ja-JP", {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                }).split("/").join("-")}
                </time>
              </li>
            ))}
          </ul>
    </main>
</Layout>

<style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }

    a {
        color:antiquewhite;
    }
  
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
</style>