---
import Card from "../components/Card.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="briete">
  <main>
    <h1>About</h1>

    <img class="logo" alt="logo" src="/logo.jpg" width={200} height={200} />

    <h2>Sato Naoya (briete)</h2>
    <p>Application Engineer@Classmethod, Inc.</p>

    <a href="https://twitter.com/briete_ns"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/brietens/"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/briete/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/briete"><i class="fa-brands fa-github fa-2x"></i></a>
    <a href="https://zenn.dev/briete"><img class="zenn" alt="zenn" src="/zenn-logo-only-white.svg" /></a>
    <a href="https://dev.classmethod.jp/author/sato-naoya/"><i class="fa-solid fa-blog fa-2x"></i></a>

    <ul role="list" class="link-card-grid">
      <Card
        href="/skill"
        title="Skill"
        body="My skills"
      />
      <Card 
        href="/timeline" 
        title="Timeline" 
        body="briete timeline" 
      />
    </ul>
  </main>
</Layout>

<style>
  .zenn {
    width: 32px;
    height: 32px;
  }
  .logo {
    display: block;
    margin: auto;
    margin-top: 16px;
    border-radius: 100px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
