---
import Layout from "../layouts/BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
import { build } from "../builder";

const items = await build();
---

<Layout title="briete">
  <main>
    <h1>Timeline</h1>
    <section>
      <Timeline items={items} />
    </section>
  </main>
</Layout>

<style>
</style>