---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/8a4e7a9d44.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://embed.zenn.studio/js/listen-embed-event.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    background-color: #252525;
    color: antiquewhite;
    font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN,
      Hiragino Sans, Meiryo, sans-serif;
    font-size: 16px;
    margin: 0;
  }
</style>
